@{
    ViewData["Title"] = "Experience";
}


<h1 class="heading"> <span> my </span> experience </h1>

<section>
    <div class="educationAndExperince">
        <div class="box-container">
            <div class="box" id="experience">
                <p class="mb-5">Experience</p>
                <hr />
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Delivery Software Engineer</h3>
                        <p class=" mb-3">Mphasis Limited</p>
                        <p>
                            Working for a client called <a href="https://www.zeiss.co.in/corporate/home.html">Carl Zeiss Meditech</a>, An Intraoperative radiotherapy device
                            manufacturing company. Who wanted to upgrade their existing Intrabeam 600 by automating a
                            few manual processes with very accurate precision and with the support of multiple smart
                            stands.
                        </p>
                        <p>Roles &amp; Responsibilities:</p>
                        <ul style="color:black; padding:revert;">
                            <li>
                                <p>
                                    Building a rich user experience solution for configuring the WLAN
                                    and LAN network adapter properties of Smartstand Device - part of
                                    the <a href="https://www.zeiss.com/meditec/en/products/intraoperative-radiotherapy-systems.html">Intrabeam application</a>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Integration of third-party libraries (<b>SimpleWifi</b>) and APIs to
                                    connect and maintain wireless networks
                                </p>
                            </li>
                            <li>
                                <p>
                                    Support for both <b>PEAP</b> and <b>PSK</b> wireless protocols.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Ability to send automatic email alerts to Hospital IT Admin upon
                                    configuration change detection.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Developed RESTful APIs for user Authentication and Authorization
                                    using OAuth and OpenID Connect.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Creation of Unit Test Cases using <b>MSTEST</b> and <b>Moq</b>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>Led</b> a team of <b>3</b> graduate trainees, conducting <b>
                                        daily technical
                                        discussions
                                    </b> & guiding the team to solve technical issues and drive
                                    them to completion.
                                </p>

                            </li>
                            <li>
                                <p>Active participation in solving PLMs and feature developments</p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span>June 2022 - Present</span></div>
                </div>
                <hr class="m-2" />


                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Delivery Software Engineer</h3>
                        <p class=" mb-3">Mphasis Limited</p>
                        <p>
                            Building a React-based web application for the VISION CARE
                            division of <a href="https://www.zeiss.co.in/corporate/home.html"> Carl Zeiss AG</a> to display various products and services.
                        </p>
                        <p>Roles &amp; Responsibilities:</p>
                        <ul style="color:black; padding:revert;">
                            <li>
                                <p>
                                    Building a rich user experience solution for configuring the WLAN
                                    and LAN network adapter properties of Smartstand Device - part of
                                    the <a href="https://www.zeiss.com/meditec/en/products/intraoperative-radiotherapy-systems.html">Intrabeam application</a>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Completely developed on the cloud by consuming the
                                    resources/services from Microsoft Azure backbone.

                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>Azure Function app</b>, a serverless architecture pattern for minimal
                                    API functionality.

                                </p>
                            </li>
                            <li>
                                <p>
                                    User Authentication and Authorization are carried out by using
                                    <b>Azure Active Directory</b> and <b>Role-based Access Control</b>
                                </p>
                            </li>
                            <li>
                                <p>
                                    Implementation of API security using OAuth2.0 industry standards.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Creation of Unit Test Cases using <b>MSTEST</b> and <b>Moq</b>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <b>Timer-based</b> function triggers for auto-generated emails which
                                    include daily transactional activity.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Includes <b>Feature Management using Azure</b>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Creating <b>Docker</b> Images and publishing them to Azure Container
                                    Registry.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Running APIs on multiple containers on a need basis using
                                    <b>Container Groups</b>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Led a team of <b>3 </b>graduate trainees, conducting daily technical
                                    discussions & guiding the team to solve technical issues and drive
                                    them to completion.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Attending requirement gathering meetings with Product Owners to
                                    understand the technical expectation of our team.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span>Nov 2021 - May 2022</span></div>
                </div>

                <hr class="m-2" />

                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Software Engineer</h3>
                        <p class=" mb-3">HCL Technologies Limited</p>
                        <p>
                            Worked for a client called <a href="https://amerisure.com/"> Amerisure</a>, A property and casualty insurance company. Who wanted to automate their collateral
                            collection process from policy holders by developing a system called Collateral Management
                            System (CMS). Development of these projects began in August 2019, and the system is now used by
                            more than 300 Credit Risk Analysts and Retro Analysts.
                        </p>
                        <p>Roles &amp; Responsibilities:</p>
                        <ul style="color:black; padding:revert;">
                            <li>
                                <p>
                                    Development of UI for <b>Credit Risk Analyst (CRA)</b> to view and
                                    modify the values generated by daily batch jobs (responsible for
                                    performing the collateral calculation).
                                </p>
                            </li>
                            <li>
                                <p>
                                    Development of business logic to fetch the details from the
                                    database, by following the required coding standards and code
                                    documentation principles.

                                </p>
                            </li>
                            <li>
                                <p>
                                    Handling user authentication and authorization using the <b>
                                        Microsoft
                                        Identity Platform
                                    </b>.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Ability to send <b>automatic email</b> alerts to Policyholders upon
                                    collateral due detection/new bill detection.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Active bug and defect fixing.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Analyzing and solving <b>SonarQube</b> code smells.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Analyzing and publishing the code coverage reports using the tool
                                    Open Cover.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Active participation in calls with customers for requirement
                                    gathering and user story estimations.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Led a team of 4 <a href="https://www.hcltechbee.com/">TechBee</a> Freshers, helping them understand the
                                    general coding standards and an effective way to convert the given
                                    software requirement to a working piece of software.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="flex-shrink-0"><span>July 2019 - November 2021</span></div>
                </div>
            </div>



            <div class="box mb-3" id="education">
                <div class="">
                    <p class="mb-5">Education</p>
                    <hr />
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Sathyabama University</h3>
                            <p class="mb-3">Bachelor of Engineering/Electronics and Communication Engineering</p>
                            <p>CGPA: 9.00</p>
                        </div>
                        <div class="flex-shrink-0"><span>July 2015 - May 2019</span></div>
                    </div>
                    <hr class="m-2" />
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Sri Chaitanya Educational Institutions</h3>
                            <p class=" mb-3">Maths, Physics, Chemistry</p>
                            <p>Percentage: 93.3</p>
                        </div>
                        <div class="flex-shrink-0"><span>June 2013 - May 2015</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>