@{
    ViewData["Title"] = "About";
}

<section class="about" id="about">

    <h1 class="heading"> about <span> me </span> </h1>

    <div class="row-1">

        <div class="image">
            <img src="images/about-img.jpg" alt="">
        </div>

        <div class="content">
            <h4>My name is <span>SANDEEP THIPPAREDDY</span> and I am a <span>FULLSTACK DEVELOPER</span></h4>
            <p>An individual with a keen interest in Software programs, possessing good interpersonal and analytical skills, who wish to use technical knowledge catering to the needs of the company. I wish to work with a diverse group of people and see myself heading a group of people for over a year duration in the company.</p>
            <div class="box-container">
                <div class="box">
                    <p> <span> Age : </span> 25 </p>
                    <p> <span> Gender : </span> Male </p>
                    <p> <span> Languages : </span> Telugu, English, Hindi </p>
                    <p> <span> Location : </span> Bangalore </p>
                </div>
                <div class="box">
                    <p> <span> Freelance : </span> Available </p>
                    <p> <span> Phone : </span> +91-8500871029 </p>
                    <p> <span> Email : </span> sandeepreddy@hotmail.com </p>
                    <p> <span> Country : </span> India </p>
                </div>
            </div>

            <!-- HTML !-->
            <a asp-action="DownloadCV" class="button-85 btn-lg" id="customButtons" role="button">Download CV</a>
        </div>

    </div>

    <div class="row-2">
        <div class="skills card">
            <h1 class="heading" style="color:black"> my <span>skills</span></h1>
            <div class="card-body">

                <div class="box-container">
                    <div class="box">
                        <p>Web Technologies</p>
                        <div class="green">
                            <i class="fa-brands fa-react text-danger"></i>
                            <i class="fa-brands fa-html5 text-warning"></i>
                            <i class="fa-brands fa-css3-alt text-primary"></i>
                            <i class="fa-brands fa-bootstrap text-primary"></i>
                            <i class="fa-brands fa-js text-info"></i>
                        </div>
                    </div>
                </div>
                <hr class="m-1" />

                <div class="box-container">
                    <div class="box">
                        <p>Backend/API</p>
                        <div class="green">
                            <i class="fa-brands"><img src="/Images/Csharp.png" alt="NoImageFound" width="50px" height="56px"/></i>
                            <i class="fa-brands"><img src="/Images/Dotnet.png" alt="NoImageFound" width="50px" height="56px"/></i>
                            <i class="fa-brands"><img src="/Images/DotnetCore.png" alt="NoImageFound" width="50px" height="56px"/></i>
                            <i class="fa-brands"><img src="/Images/Webapi.png" alt="NoImageFound" width="50px" height="56px"/></i>
                        </div>
                    </div>
                </div>
                <hr class="m-1" />

                <div class="box-container">
                    <div class="box">
                        <p>Microservices</p>
                        <div class="green">
                            <i class="fa-brands"><img src="/Images/Docker.png" alt="NoImageFound" width="65px" height="80px" /></i>
                            <i class="fa-brands"><img src="/Images/Kubernetes.png" alt="NoImageFound" width="50px" height="56px" /></i>
                        </div>
                    </div>

                    <div class="box">
                        <p>Cloud/Integration</p>
                        <div class="green">
                            <i class="fa-brands"><img src="/Images/Azure.png" alt="NoImageFound" width="50px" height="50px" /></i>
                            <i class="fa-brands"><img src="/Images/Mulesoft.png" alt="NoImageFound" width="60px" height="75px" /></i>
                        </div>
                    </div>
                </div>
                <hr class="m-1" />

                <div class="box-container">
                    <div class="box">
                        <p>Unit Testing</p>
                        <div class="green">
                            <i class="fa-brands"><img src="/Images/Xunit.png" alt="NoImageFound" width="50px" height="56px" /></i>
                            <i class="fa-brands"><img src="/Images/Moq.png" alt="NoImageFound" width="50px" height="56px" /></i>
                        </div>
                    </div>

                    <div class="box">
                        <p>Database</p>
                        <div class="green">
                            <i class="fa-brands"><img src="/Images/Sqlserver.png" alt="NoImageFound" width="50px" height="56px" /></i>
                            <i class="fa-brands"><img src="/Images/Efcore.jpg" alt="NoImageFound" width="60px" height="70px" /></i>
                        </div>
                    </div>

                </div>
                <hr class="m-1" />

            </div>
        </div>

        <div class="skills card">
            <h1 class="heading" style="color:black"> my <span>track</span></h1>
            <div class="box-container card-body">
                <div class="box">
                    <h3> >>3.8+ </h3>
                    <p>Years of Experience</p>
                </div>

                <div class="box">
                    <h3> >> 4+ </h3>
                    <p>Happy Clients</p>
                </div>

                <div class="box">
                    <h3> >> 4+ </h3>
                    <p>Projects Completed</p>
                </div>

                <div class="box">
                    <h3>Certifications</h3>
                    <ul class="list-group list-group-light">
                        <li class="list-group-item px-3 border-0 rounded-3 mb-2"><p>Microsoft Azure Certified</p></li>
                        <li class="list-group-item px-3 border-0 rounded-3 mb-2"><p>Mulesoft Certified Developer</p></li>
                        </ul>
                </div>
            </div>
        </div>

    </div>

</section>