@{
    ViewData["Title"] = "Home";
}

<section class="home" id="home">

    <div class="content">
        <span class="hi"> Hi There... </span>
        <h3> I am <span> SANDEEP THIPPAREDDY </span> </h3>
        <p class="info"> I am a FULLSTACK DEVELOPER </p>
        <p class="text">An individual with a keen interest in Software programs, possessing good interpersonal and analytical skills, who wish to use technical knowledge catering to the needs of the company. I wish to work with a diverse group of people and see myself heading a group of people for over a year duration in the company.</p>
        <a asp-controller="About" id="customButtons" asp-action="Index" class="button-85 btn-lg" role="button">About Me</a>
    </div>

    <div class="image">
        <img src="~/Images/WebDev.png" alt="">
    </div>

</section>